# Chrome Web Store API credentials
# See: https://developer.chrome.com/docs/webstore/using-api
CHROME_CLIENT_ID=
CHROME_CLIENT_SECRET=
CHROME_REFRESH_TOKEN=
CHROME_EXTENSION_ID=
CHROME_PUBLISHER_ID=

VITE_EXTENSION_KEY=
VITE_OAUTH_CLIENT_ID=
VITE_PEXELS_API_KEY=
VITE_APP_FIREBASE_API_KEY=
VITE_APP_FIREBASE_AUTH_DOMAIN=
VITE_APP_FIREBASE_PROJECT_ID=
VITE_APP_FIREBASE_STORAGE_BUCKET=
VITE_APP_FIREBASE_MESSAGING_SENDER_ID=
VITE_APP_FIREBASE_APP_ID=