@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "./globals/base.css";
@import "./globals/layout.css";
@import "./globals/theme-base.css";
@import "./globals/theme-variants-a.css";
@import "./globals/theme-variants-b.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
